<style>
  nav.pagination {
    display: none;
  }
</style>

<div class='container px-5 px-sm-0'>
  <%= render "devise/shared/error_messages", resource: @book %>
  <div class='row'>

    <div class='col-md-3'>
      <%= render 'template/userinfo', user: current_user %>
      <%= render 'template/newbook' %>
    </div>

    <div class='col-md-8 offset-md-1'>
      <h2>Books</h2>
      <div class="row border-top border-bottom py-1 font-weight-bold">
        <div class="col-sm">
        </div>
        <div class="col-sm">
          Title
        </div>
        <div class="col-sm">
          Opinion
        </div>

      </div>
      <div class='jscroll'>
        <% @books.each do |book| %>
          <div class="row border-bottom py-1">
            <div class="col-sm">
              <%= link_to user_path(book.user.id) do %>
                <% if book.user.profile_image.attached? %>
                  <%= image_tag book.user.profile_image, size: '60x60' %>
                <% else %>
                  <%= image_tag 'no_image.jpg' %>
                <% end %>
              <% end %>
            </div>
            <div class="col-sm">
              <%= link_to book.title, book_path(book.id) %>
            </div>
            <div class="col-sm">
              <%= book.body %>
            </div>
          </div>
        <% end %>
        <%= paginate @books %>
      </div>
    </div>

  </div>
</div>
